<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is the home page</h1>
    <p>Aliqua occaecat aute labore minim ea tempor amet irure occaecat sint consequat cupidatat qui nisi. Aliquip mollit elit occaecat dolore sit sit Lorem tempor. Incididunt in esse id fugiat labore aliqua cupidatat dolore est commodo sit mollit aliquip. Do ipsum cupidatat eu reprehenderit veniam in consectetur irure velit adipisicing.</p>
</body>
</html>